header {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 1) 30%,
    rgba(62, 90, 168, 1) 50%
  );
  color: var(--black);
  display: flex;
}

header ul {
  margin: 0;
  list-style: none;
}

header li {
  display: inline-block;
}

header a {
  color: var(--white);
  padding: 25px;
  display: inline-block;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.6s;
  text-transform: uppercase;
}

header a:hover {
  color: var(--red);
  background-color: var(--white);
}
.navigation {
  margin-left: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--blue);
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media only screen and (max-width: 900px) {
  #pcNavbar {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  #MobileNavbar {
    display: none;
  }
}

/* Mobile Navbar */
#MobileNavbar {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 1) 30%,
    rgba(62, 90, 168, 1) 50%
  );
}
.navbar-toggler {
  border: none;
}
.mobileHam {
  color: var(--white);
  font-size: 30px !important;
}
.mobileNavLink {
  color: var(--black);
}
.mobileMenu:hover {
  color: var(--white) !important;
}
.mobileDropdown:hover {
  background-color: var(--blue) !important;
  color: var(--white) !important;
}
