.contactMain {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.contactHead i {
  font-size: 19px;
}
.ContactInfo {
  margin-left: 10px;
}
.ContactHr {
  background-color: var(--blue);
  border-top: 3px dashed #8c8b8b;
}
.myBtn {
  background-color: var(--blue);
  color: var(--white);
  padding: 10px 50px;
}

.myBtn:hover {
  background-color: var(--orange);
  color: var(--black);
}
