.myFooter {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(62, 90, 168, 1) 100%
  );
}

.footerLink {
  color: #fff;
  text-decoration: none;
}
.footerLink:hover {
  color: var(--red);
}
