.myFooter {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(178, 148, 36, 1) 13%,
    rgba(145, 92, 25, 1) 27%,
    rgba(116, 70, 24, 1) 41%,
    rgba(116, 70, 24, 1) 59%,
    rgba(145, 92, 25, 1) 73%,
    rgba(178, 148, 36, 1) 87%,
    rgba(255, 255, 255, 1) 100%
  );
  border-top: 1px solid var(--blue);
}

.footerLink {
  color: #fff;
  text-decoration: none;
}
.footerLink:hover {
  text-decoration: underline;
  color: var(--white);
}
/* .footer_icon:focus {
  outline: none !important;
  box-shadow: none !important;
} */
